<br>
<br>
<br>
<br>

<p>
  <%= @chapter.user_text %>
</p>



<% @chapter.options.each do |option| %>
    <%= link_to story_chapter_path(@story, option.next_chapter) do %>
        <%= option.option_text %><br>
    <% end %>
<% end %>


<br>
<br>
<br>
<br>



<% if @story.user_id == current_user.id %>
    <%= link_to 'Edit This Story', edit_story_path(@story) %>
    <%# link_to 'Back', story_chapters_path %>
<% end %>
