// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset {
  box-sizing: border-box;
  width: 97%;
  font-size: 125%;
  background-color: lightgrey;
//  width: 700px;
  padding: 15px;
  border: 5px solid navy;
  margin: 15px;
}

.user_text {
  border: 2px solid;
  padding: 10px 10px;
  width: 100%;
  height: 200px;
  resize: both;
  overflow: auto;
}

.option_text {
  width: 100%;
}

.chapter_num {
  width: 5%;
}

.story_title {
  font-size: 100%;
}